body{
  h2{
    a.btn-floating {
      font-size: 1rem;
    }
  }
}


.country {
  .card {
    .card-title {
      font-weight: 600;
    }

    p {
      font-size: 4rem;
      font-weight: 100;

      span.units {
        font-size: 3rem;
      }
    }
  }
}
